* {
    padding: 0;
    margin: 0;
}
.date-time{
    background:#006666;
    width: 48%;
    margin-top: 8%;
    margin-left: 25%;
    position:absolute; 

}

body {
    background: #388e8e;
    /* 禁止选中文字 */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
}
#text,
#text::-webkit-input-placeholder,
.but{
    font-size: 1.5rem;
    color: #3aadb1;
    background: #006666;
}

#text,
#text::-webkit-input-placeholder {
    outline: medium;
    border-radius: 10px;
    width: 48%;
    height: 2.5rem;
    margin-top: 10%;
    margin-left: 25%;
    font-size: 1.8rem;
    text-align: center;
    border-color: transparent;
}

#floatBox {
    /* background-color: #006666; */
    position: absolute;
    float: left;
    margin-top: 2%;
    width: 48.2%;
    height: 68%;
    margin-left: 25%;
    overflow: auto;
}

.but {
    width: 10rem;
    height: 5rem;
    margin-left: 2%;
    margin-top: 2.5%;
    border-radius: 10px;
    border: none;
    outline: medium;
    /* 鼠标变小手 */
    CURSOR: pointer;
}

#floatBox::-webkit-scrollbar {
    display: none;
}