#bd {
    /* background: #fd161600; */
    width:600px;
    height: 50px;
    margin-left: 100%;
    text-align: center;
    margin-top: 10%;
}

#bdss {
    width:450px;
    height: 45px;
    font-size: 1.8rem;
    text-align: center;
    border: 2px solid #1cb4bee7;
    border-radius: 1rem 0rem 0rem 1rem;
}

#bdbt {
    position:fixed;
    width:99px;
    height: 49px;
    font-size: 1.3rem;
    color: #cee6e2;
    border: 0;
    background-color: #1cb4bee7;;
    border-radius: 0rem 1rem 1rem 0rem;
}

input {
    outline: none;
    background-color: #1cb3be3b;
    -webkit-text-fill-color: #15dfce;/*输入文字、placeholder颜色*/
    caret-color: #ffffff;/*光标颜色*/
}