:root{
    --font:rgb(0, 195, 255);
    --hover:rgb(255,114,66);
    --link:rgb(255, 112, 112);
}

a {
    color: var(--font);
}
a:hover{
    color: var(--hover);
}

.article-sort-item {
    position: relative;
    margin-bottom: 1rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.article-sort-item:hover:before {
    border-color: var(--hover);
}

.article-sort-item:before {
    position: absolute;
    top: 0.48rem;
    left: calc(-1rem - 16px);
    width: 1rem;
    height: 0.3rem;
    border: 0.15rem solid #49b1f5;
    border-radius: 0.3rem;
    background: #fff;
    content: "";
    line-height: 0.3rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.article-sort-item.year {
    font-size: 1rem;
}

.article-sort-item.year:hover:before {
    border-color: #49b1f5;
}

.article-sort-item.year:before {
    top: 0.7rem;
    border-color: var(--hover);
}

.article-sort {
    padding-left: 1rem;
    border-left: 0.1rem solid #a4d8fa;
}

.article-sort-title {
    position: relative;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    line-height: 1;
    color:var(--font);
}
.article-sort-title:hover{
    color:var(--hover);
}

.article-sort-title:hover:before {
    border-color: var(--hover);
}

.article-sort-title:before {
    position: absolute;
    top: 0.25rem;
    left: calc(-0.5rem + 1px);
    z-index: 1;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.25rem solid #49b1f5;
    border-radius: 0.5rem;
    background: #fff;
    content: "";
    line-height: 0.5rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/*TODO 更新文档下面的竖条*/
.article-sort-title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 0.09rem;
    height: 2rem;
    background: #a4d8fa;
    content: "";
}
/*TODO 这部分是居中*/
.layout {
    margin: 0 auto;
    width: 700px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

html {
    font-size: 25px;
    /*TODO 字体大小*/
    text-shadow: 5px 5px 5px #10063f;
    /* 字体阴影 */
}

body {
    font-size: 25px;
    /*TODO 时间戳的字体大小*/
    line-height: 2;
    /*TODO 时间线的长短*/
}

.card{
    width: 800px;
    font-size: 0.7rem;
    margin-left: -37%;
    margin-top: -5%;
    color: rgb(66, 255, 113);
}
